html {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.hdr-type {
    color: aliceblue;
    font-weight: normal;
    font-size: 50px;
}

.lnk-dwnld {
    color: aquamarine;
    font-size: 16px;
    margin-bottom: 25px;
}

.hdr-type-two {
    font-weight: 300;
    font-size: 42px;
}

.ftr-text  {
    color: gray;
    text-align: end;
}

.pic-phn-clipart {
    margin-top: 25px;
}